#game-form input {
    display: block;
    margin: 10px auto;
}

input[type=text], input[type=number] {
    width:300px;
}

input[name = "description"] {
    height: 100px;
}

input[type=submit] {
    width:100px;
}

label {
    display:block;
    color: #d03a3a;
}