.games {
    display: inline-flex;
    width: 49%;
    justify-content: center;
}

.game {
    background-color: #1e1f29;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    width: calc(90% - 5px);
    margin-bottom: 20px;
}

.game:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.game-image img {
    width: 100%;
    height: 600px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.game-details {
    text-align: left;
}

.game .title {
    font-size: 18px;
    margin-bottom: 8px;
}

.game .description {
    font-size: 14px;
    margin-bottom: 8px;
}

.game .tags {
    font-size: 12px;
    margin-bottom: 8px;
    color: #aaa;
}

.game .price {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: bold;
}

.game .actions a {
    display: inline-block;
    margin-right: 5px;
    padding: 8px 10px;
    font-size: 12px;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.game .actions a:hover {
    background-color: #555;
}

.owned {
    color:greenyellow;
    margin-top:10px ;
}
