<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Moon Game Store</title>
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/cart.css">
    <link rel="icon" href="/moon-logo-icon.png">
</head>
<body>
<div th:replace="~{fragments.html}"></div>
<div id="content">

    <div th:if="${session.cart.isEmpty()}" class="info">Your cart is empty. <br>
    Add games to your cart at <a href="/">Moon Game Store.</a></div>
    <div th:if="${!session.cart.isEmpty()}">
    <div class="cart-row">
        <div>Title</div>
        <div>Publisher</div>
        <div>Price</div>
    </div>

    <div th:each="position : ${session.cart}" class="cart-row">
        <div th:text="${position.game.title}">Title</div>
        <div th:text="${position.game.publisher}">Publisher</div>
        <div th:text="${#numbers.formatDecimal(position.game.price, 2, 2, 'POINT')} + '€'">Price</div>
    </div>

    <div class="cart-row">
        <div></div>
        <div></div>
        <div>Total: </div>
        <div th:text="${{#numbers.formatDecimal(cartSum, 2, 2, 'POINT')}}"></div>
    </div>

    <a href="/order/add">Order</a>
    </div>
</div>
</body>
</html>
