<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="icon" href="/moon-logo-icon.png">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="logo" th:fragment="logo">
    <a href="/">
        <img src = "/moon-logo.png">
    </a>
</div>

<div id ="menu" th:fragment="menu">
    <a href="/">STORE</a>
    <a href="/library" th:if="${session.user != null}">LIBRARY</a>
    <a href="/about">ABOUT</a>
    <a href="/login" th:if="${session.user == null}">LOGIN</a>
    <a href="/logout" th:if="${session.user != null}">LOGOUT</a>
    <a href="/order" th:if="${session.user != null}">ORDERS</a>
    <a href="/game/add" th:if="${session.user?.getRole() == T(pl.edu.wszib.game.store.model.User.Role).ADMIN}">ADD GAME</a>
    <a href="/cart" th:if="${session.user != null}">CART</a>
</div>

</body>
</html>