<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="icon" href="/moon-logo-icon.png">
<head>
    <meta charset="UTF-8">
    <title>Moon Game Store</title>
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/library.css">
</head>
<body>
<div th:insert="fragments"></div>

<div id="content">
        <div th:if="${session.user == null}"> Please log in to see your owned games.</div>
    <div th:if="${session.user != null}" id="library">
            <div class="games" th:each="game : ${games}">
                <div class="game">
                    <div class="game-image"><img th:src="@{'/game-logos/' + ${game.picture}}" alt="Game Image"></div>
                    <div class="game-details">
                        <div class="title" th:text="${game.title}">Title</div>
                        <div class="actions">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>